.footer {
  background-color: rgba(245, 175, 53, 0.95);
  border: rgb(245, 175, 53) solid 5px;
  bottom: 0;

  /* height: 10%; */
  margin-bottom: 0;
  min-height: 50px;
  position: fixed;
  width: 100%;
}


.footer button {
  background-color: rgba(245, 175, 53, 0);
  border: 0;
  box-shadow: none;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 30px;
  padding-right: 30px;
}


.footer button, section {
  height: 100%;
}


.footer button:hover {
  background-color: rgb(255, 168, 19);
  border: 1px;
  box-shadow: none;
  margin-left: 10%;
  margin-right: 10%;
}

