.page-profile-content {
  height: 640px;
  text-align: center;
}

.page-profile-content h3 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.section-profile-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.section-profile-button button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid rgb(83, 83, 83);
  color: rgb(83, 83, 83);
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 80%;
}

.logo-app-profile {
  margin-top: 20px;
  width: 60%;
}
